@model HotelBookingManager.BusinessObjects.DTO.RoomDto

<h2>Xóa phòng</h2>
<h3>Bạn có chắc muốn xóa phòng này?</h3>

<dl class="row">
    <dt class="col-sm-2">Khách sạn (Id)</dt>
    <dd class="col-sm-10">@Model.HotelId</dd>

    <dt class="col-sm-2">Số phòng</dt>
    <dd class="col-sm-10">@Model.RoomNumber</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="RoomId" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
